@import "tailwindcss";

@theme {
  --color-text: #6b6375;
  --color-heading: #08060d;
  --color-bg: #fff;
  --color-line: #e5e4e7;
  --color-code: #f4f3ec;
  --color-accent: #aa3bff;

  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-heading: #f3f4f6;
    --color-bg: #16171d;
    --color-line: #2e303a;
    --color-code: #1f2028;
    --color-accent: #c084fc;
  }
}

@layer base {
  html {
    color-scheme: light dark;
    font: 18px/145% var(--font-sans);
    letter-spacing: 0.18px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (width <= 1024px) {
      font-size: 16px;
    }
  }

  body {
    @apply text-text bg-bg;
  }
}
